<div class="news">
  <h2>😔 Me Being Honest</h2>
  {% assign newsnegative = site.newsnegative | reverse %}
  {% if newsnegative.size > 0 %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% for item in newsnegative %}
          <tr>
            <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
